
.search-form {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.search-input {
    border: solid 1px;
    border-radius: 25px 0 0 25px;
    padding: 10px;
    width: 400px;
  }

.search-button {
    background-color: #007bff;
    border: none;
    border-radius: 0 25px 25px 0;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
  }